@if (error()) {
<p class="error-message">
  {{ error() }}
</p>
}
<div class="container">
  <form [formGroup]="form" (ngSubmit)="onHandleSubmit()">
    <div class="field">
      <label>Check-in Date</label>
      <input
        type="date"
        formControlName="startDate"
        [min]="minDate()"
        placeholder="Select Check-In Date"
      />
    </div>
    <div class="field">
      <label>Check-Out Date</label>
      <input
        type="date"
        [min]="minDate()"
        formControlName="endDate"
        placeholder="Select Check-Out Date"
      />
    </div>
    <div class="field">
      <label>Room Type</label>
      <select formControlName="roomType">
        <option disabled value="">Select Room Type</option>
        <option *ngFor="let type of roomTypes()" [value]="type">
          {{ type }}
        </option>
      </select>
    </div>
    <button type="submit">Search Rooms</button>
  </form>
</div>
